flask-socketio>=5.5.1
flask>=3.1.2
psycopg2-binary>=2.9.10
google-genai>=1.32.0
google-cloud-bigquery>=3.36.0
firebase-admin>=7.1.0
google-cloud-storage>=3.3.1
google-cloud-vision>=3.10.2
fastapi>=0.110.0
uvicorn>=0.29.0
pandas>=2.3.2
python-dotenv>=1.0.0
dotenv>=0.9.9
google-cloud-pubsub>=2.31.1
bcrypt>=4.3.0
passlib>=1.7.4
python-jose>=3.5.0
pydantic[email]>=1.10.0
scikit-learn>=1.7.2
xgboost==1.6.0
joblib>=1.5.2
pandas>=2.3.2
db-dtypes
pyarrow>=21.0.0
google-cloud-aiplatform
google-auth